{% if nombre %}

    {% extends './User/layout_user.html' %}

    {% block conten %}
  
        <h2>Compras</h2>
  
    {% endblock %}

{% else %}

    {% extends 'layout.html' %}

    {%  block contenido %}


       
        <body>

            <h2>
                funciona
            </h2>
            <div class="cont-compra">
                <div class="img-comp">
                    <img src="" alt="">
                </div>
                <div class="descp-comp">
                    
                </div>
            </div>
        </body>

    {%  endblock %}

{% endif %}