{% if nombre %}

    {% extends './User/layout_user.html' %}

    {% block conten %}
  
    <h2> Califica nuestros servicios</h2>
        <div class="contenedor2">
            <div class="containerline">
                <div class=""></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>    
            <div class="containerline">
            </div>
            <div class="containerline">
            </div>    
        </div>

    {% endblock %}

{% else %}

    {% extends 'layout.html' %}

    {% block contenido %}

    <h2> Califica nuestros servicios</h2>

    {%  endblock %}

{% endif %}