{% extends 'layout.html' %}

{% block contenido %}

<h1>Favoritos</h1>

<div class="container">

<div class="containerline">
  <h5 class="card-title">Categoria 1</h5>
  <h5 class="card-title">Categoria 1</h5>
  <h5 class="card-title">Categoria 1</h5>
</div>

 <div class="containerline">

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <img src="#"/>
        <h5 class="card-title">XYZ</h5>
        <p class="card-price">abcdefg hijkl mnopq rstuv.</p>
        <div>- +</div>
        <a href="#" class="btn btn-primary">Añadir al Carrito</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <img src="#"/>
        <h5 class="card-title">XYZ</h5>
        <p class="card-price">abcdefg hijkl mnopq rstuv.</p>
        <div>- +</div>
        <a href="#" class="btn btn-primary">Añadir al Carrito</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <img src="#"/>
        <h5 class="card-title">XYZ</h5>
        <p class="card-price">abcdefg hijkl mnopq rstuv.</p>
        <div>- +</div>
        <a href="#" class="btn btn-primary">Añadir al Carrito</a>
      </div>
    </div>
    
  </div>




</div>
{% endblock %}